.App {
  text-align: center;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  /* overflow: hidden; */
}

.main-body {
  display: flex;
  flex-direction: row;
}

.content {
  width: 90%;
  height: 100vh;
}
